<a href="https://colab.research.google.com/github/Guilherme-Brasil/Relatorio-de-Vendas-2018/blob/main/An%C3%A1lise_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#01. Analisar os arquivos que contém a base de dados.
import os
import pandas as pd
import plotly.express as px

lista_arquivos = os.listdir("/content/drive/MyDrive/Vendas")
display(lista_arquivos)

['Devolucoes - Rio de Janeiro.csv',
 'Vendas - São Paulo.csv',
 'Vendas - Porto Alegre.csv',
 'Vendas - Salvador.csv',
 'Devolucoes - Goiás.csv',
 'Vendas - Fortaleza.csv',
 'Vendas - Recife.csv',
 'Vendas - Goiás.csv',
 'Devolucoes - Fortaleza.csv',
 'Vendas - Curitiba.csv',
 'Vendas - Belo Horizonte.csv',
 'Devolucoes - São Paulo.csv',
 'Vendas - Rio de Janeiro.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - Porto Alegre.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Devolucoes - Curitiba.csv']

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
tabela_total = pd.DataFrame()

#02. Importar as bases de dados.
for arquivo in lista_arquivos:
  if "Vendas" in arquivo:
    #Importando o arquivo
    tabela = pd.read_csv(f"/content/drive/MyDrive/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela)

#03. Tratar/Compilar as bases de dados.
display(tabela_total)

<ipython-input-7-b7a65dfcd002>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-b7a65dfcd002>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-b7a65dfcd002>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-b7a65dfcd002>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-b7a65dfcd002>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-b7a65dfcd002>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-b7a65dfcd002>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-b7a65dfcd002>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-b7a65dfcd002>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,5,HL1918,iPhone,4,Sarah,Souza,2/14/2018,São Paulo,5300,NaN
1,6,HL7348,SmartWatch,3,Alexandre,Rodriguez,5/20/2018,São Paulo,1400,NaN
2,9,HL1148,Câmera,3,Camille,Silva,3/26/2018,São Paulo,2100,NaN
3,10,HL1918,iPhone,3,Alon,Palmeira,11/6/2018,São Paulo,5300,NaN
4,18,HL8851,Notebook,4,Leandro,Rodrigues,8/6/2018,São Paulo,3500,NaN
...,...,...,...,...,...,...,...,...,...,...
1462,9971,HL1918,iPhone,4,Isaac,Santos,12/3/2018,Rio de Janeiro,5300,NaN
1463,9976,HL9962,Android,2,Andreza,Ramos,12/17/2018,Rio de Janeiro,3400,NaN
1464,9982,HL4379,Televisão,3,Leticia,Mesquita,5/22/2018,Rio de Janeiro,2500,NaN
1465,9987,HL1918,iPhone,5,Manuela,Merege,9/12/2018,Rio de Janeiro,5300,NaN
1466,9989,HL1918,iPhone,5,Rafael,Carneiro,2/28/2018,Rio de Janeiro,5300,NaN

In [8]:
#04. Calcular o produto mais vendido (Quantidade).
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by = "Quantidade Vendida", ascending = False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [9]:
#05. Calcular o produto de maior faturamento (Faturamento).
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']

tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by = "Faturamento", ascending = False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [10]:
#06. Calcular a loja/cidade que mais vendeu (Faturamento).
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

                Faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [11]:
#07. Gerar um gráfico/dashboard.
grafico = px.bar(tabela_lojas, x = tabela_lojas.index, y = 'Faturamento')
grafico.show()